.items{
  justify-content:center ;
  border: 2px solid red;
  padding: 8px;
  border-radius: 3px;

}
.task1 {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.height-50{
    height: 50vh;
}
.task2 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 10px;
    height: 100vh;
    align-items: center;
}
.task2 .i1{
    grid-column: 2 / span 4;
}
.task2 .i2{
    grid-column: 6 /span 6
}
.task3-1{
    display: grid;
    gap:24px;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
}
@media (min-width: 720px) {
    .task3-1{
        grid-template-columns: repeat(12,1fr);
    }
    .task3-1 .head
    {
         grid-column: 1 / span 12;
    }
    .task3-1 .navbar{
        grid-column: 1 / span 12;

    }
    .task3-1 .mainmenu{

        grid-column: 1/4;
    }
    .task3-1 .asidebar{

        grid-column: 4 /13;
    }
    .task3-1 .adsbar{
        grid-column: 1 /  4;

    }
    .task3-1 .footbar
    {
        grid-column: 4/span 9;
    }
    
}